@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #fff;
}

input[type="range"] {
  accent-color: #22c55e;
}

footer, .text-gray-500 {
  color: #d1d5db !important;
}
